/* ekki stíla input heldur klasa */
.   menuinput {
     display: none;
}
.menubutton,
.topmenu {
    border: 1px solid #818181;
    border-radius: 6px;
}
label
.menubutton {
    color: #0087cc;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 5px 9px;
        ransition: all .25s ease;
}
.menubutton:hover {
            color: #09ff00;
}
.menuinput:checked + .menubutton {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.35);
    color: #9799a7;
}
.topnav {
    /*max-height: 0;
    overflow: hidden; - transition height víbrar í símum,*/
    position: fixed; /* ath - sticky */
    left: -20em;
    top: 3em;
    z-index: 100;
    transition: all .5s ease;
}
.menuinput:checked ~ .topnav {
    /*max-height: 500px;*/
    left: 1em
}
.topmenu {
    list-style: none;
    margin: 8px 0 0 0;
    padding: 0;
    width: 130px;
    background-color: rgb(255, 251, 240);
}
.topmenu li {
    border-bottom: 1px solid #cecfd5;
}
.topmenu li:last-child {
    border-bottom: 0;
}
.topmenu a {
    color: #0087cc;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
}
    topmenu a:hover {
    color: #ff7b29;
}
.topnav{
    background: silver;
}

input{
    display: none;
}

.topnav{
    display: none;
}

input:checked ~ nav{
    display: block;
}

input[type="checkbox"]{
  display: none; }
